
html {
	padding: 1% 5%;
	margin: 1%;
}

body {
	background: #245;
}

main {
	font-size: 1.1em;
}

div {
	margin: auto;
}

.code {
	font-family: monospace;
	background: #aaa;
	color: #222;
	border: 1px solid black;
	margin: 4px;
	padding: 5px;
}

.error {
	font-family: monospace;
	background: #bbb;
	color: #C00;
	border: 1px solid #C00;
	margin: 4px;
	padding: 5px;
}

.rightalign {
	text-align: right;
}

.quote {
	background: #bbb;
	color: #222;
	border: 1px solid black;
	margin: 4px;
	padding: 5px;
}

div.code {
	padding: 10px;
}

div.content {
	background: silver;
	color: black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 15px;
}

div.left-bar {
	color: #212;
	width: 13%;
	color: #EDD;
	padding-top: 9%;
	padding-left: 1%;
	padding-right: 1%;
}
div.top-bar {
	color: #EDD;
}
div.author {
	font-size: 1em;
	color: white;
}

.author a {
	color: white;
}

div.social-media img {
	max-width: 80px;
	max-height: 80px;
}

img {
	padding: 20px;
}

.imagelike {
	padding: 20px;
}
