
@media (min-width: 1200px) {
	html {
		padding: 0.5% 15%;
		margin: 1%;
	}
}

body {
	background: #356;
}

main {
	font-size: 110%;
	line-height: 150%;
	margin: auto;
	width: 100%;
	background: silver;
	color: black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding-top: 5%;
}

.code {
	font-family: monospace;
	background: #aaa;
	color: #222;
	border: 1px solid black;
	margin: 4px;
	padding: 5px;
}

.error {
	font-family: monospace;
	background: #bbb;
	color: #C00;
	border: 1px solid #C00;
	margin: 4px;
	padding: 5px;
}

.rightalign {
	text-align: right;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bordered {
	background: #bbb;
	color: #222;
	border: 1px solid black;
	margin: auto;
	padding: 10px;
	width: 90%;
}

div.code {
	padding: 10px;
}

div.content {
	margin: auto;
	width: 80%;
}


div.left-bar {
	color: #212;
	width: 13%;
	color: #EDD;
	padding-top: 9%;
	padding-left: 1%;
	padding-right: 1%;
}

div.top-bar {
	text-align: center;
	width: 100%;
	color: #FFF;
}

div.author {
	font-size: 1em;
	color: white;
}

a {
	color: #00C;
}

a:visited {
	color: #80C;
}

a:hover {
	color: #888;
}


div.social-media img {
	max-width: 80px;
	max-height: 80px;
}

img {
	width: 40%;
	margin: 4.5%;
	padding: auto;
}

.imagelike {
	margin: 2%;
	padding: auto;
}
