
div.content {
	background: linear-gradient(#666, #888 6%, #666 90%);
	color: black;
	position: fixed;
	top: 10%;
	height: 81.5%;
	left: 5%;
	width: 90%;
	padding: 2%;
	border: 1px solid black;
	overflow-y: hidden;
}

html {
	background: #963;
	background-repeat: repeat;
}

div.left-bar {
	color: #212;
	position: fixed;
	top: 0;
	height: 91%;
	left: 0;
	width: 8%;
	color: #EDD;
	padding-top: 9%;
	padding-left: 1%;
	padding-right: 1%;
}
div.top-bar {
	position: fixed;
	top: 0;
	height: 10%;
	left: 15%;
	width: 85%;
	color: #EDD;
	text-align: center;
}
div.author {
	position: fixed;
	top: 96%;
	left: 80%;
	height: 2%;
	color: black;
}
a {
	color: #ddf;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #ddf;
}



div.social-media img {
	width: 100px;
	height: 100px;
}
